[Unit]
Description=EtherSync
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=ethersync
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/EtherSync
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
