<Notifications>
  <Notification>
    <Address>0XFBD45D6ED333C4AE16D379CA470690E3F8D0D2A2</Address>
    <Name>STEX</Name>
    <Type>Discord</Type>
    <Limit>4999</Limit>
    <URL>https://discordapp.com/api/webhooks/532933000908767242/26Mt2kdUt04oLYK-7AG26vCDoZspiav8_jWSibaiOiNA0t8F2XifrtD7u5krylmlo6ai</URL>
  </Notification>
  <Notification>
    <Address>0x3951F8fAA758f221EBd236797d23065A83633e32</Address>
    <Name>MERCATOX</Name>
    <Type>Discord</Type>
    <Limit>4999</Limit>
    <URL>https://discordapp.com/api/webhooks/532933000908767242/26Mt2kdUt04oLYK-7AG26vCDoZspiav8_jWSibaiOiNA0t8F2XifrtD7u5krylmlo6ai</URL>
  </Notification>
  <Notification>
    <Address>0X548833F13D6BF156260F6E1769C847991C0F6324</Address>
    <Name>GRAVIEX</Name>
    <Type>Discord</Type>
    <Limit>4999</Limit>
    <URL>https://discordapp.com/api/webhooks/532933000908767242/26Mt2kdUt04oLYK-7AG26vCDoZspiav8_jWSibaiOiNA0t8F2XifrtD7u5krylmlo6ai</URL>
  </Notification>
  <Notification>
    <Address>0X0E8FC238E9CB8E23BCEFB08409925CED578D9499</Address>
    <Name>EthoLabs</Name>
    <Type>Discord</Type>
    <Limit>0</Limit>
    <URL>https://discordapp.com/api/webhooks/539558990200176652/bUVwYVvYSLAHENb01pxHNVEg4WZMxPwFfSro6bgtJ0fOEoA4W1FIvefdGPRSOzQT3q7Y</URL>
  </Notification>  
 </Notifications>